.dashboardlayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  overflow: auto;
}

.graphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.graphContainer {
  background-color: #e0e0e0;
  height: 350px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.graphHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #b9b9b9;
}

.graphContent {
  flex-grow: 1;
}


.table {
  display: flex;
  justify-content: center;
  flex: 1;
}

.table1 {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .graphs {
    grid-template-columns: 1fr;
  }

  .table1 {
    width: 100%;
  }
}

.contentbuttons {
  width: 100%;
  display: flex;
  padding: 1rem 0 1rem 0;

  nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  }

  nav ol{
    display: flex;
    align-items: center;
    margin: 0; 
  }
}

.buttonreset {
  margin-left: auto !important;
  color: white !important;
}

button.btnCustom {
  color:#45a049;
  background-color: aqua;
}

/* Button.module.css */

.customButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.customButton:hover {
  background-color: #45a049;
}
