.tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;

    h5 {
        font-size: 14px;
        font-weight: 400;
    }

    button {
        color: #fff;
    }

    button:hover {
        cursor: pointer;
        color: #fff;
    }
}